.App {
    height: 100vh;
    width: 100vw;
    background-color: gray;
}

.App_Body {
    display: flex;
        justify-content: center;
        align-items: center;
    height: 100%;
    width: 100%;
}